.container {
  display: flex;
  font-size: 0.65rem;
  padding: 0.2rem;
}

.page-container {
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.page {
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  padding: 0.2rem;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: rgb(117, 117, 117);
    color: white;
  }
}

.isActive {
  background-color: rgb(117, 117, 117);
  color: white;
}

.page-info {
  display: flex;
  flex: 1;
  gap: 0.4rem;
  align-items: center;
}

.page-right-icon,
.page-left-icon {
  cursor: pointer;
}