.container {
  width: 600px;
  display: grid;
  grid-template-columns: 1fr auto;
  font-size: 0.65rem;
  padding: 0.2rem;
}

.page-container {
  display: flex;
  align-items: center;
}

.page {
  font-size: 20px;
  padding: 0.2rem;

  .isActive {
    font-weight: 600;
  }
}

.page-info {
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-gap: 0.4rem;
  align-items: center;
}