.container {
  width: 600px;
  display: grid;
  grid-template-columns: 1fr auto;
  font-size: 0.65rem;
  padding: 0.2rem;
}

.page-container {
  display: flex;
  align-items: center;
}

.page {
  cursor: pointer;
  font-size: 20px;
  padding: 0.2rem;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: rgb(117, 117, 117);
  }
}

.isActive {
  background-color: rgb(117, 117, 117);
}

.page-info {
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-gap: 0.4rem;
  align-items: center;
}